.carousel  img{
    height: 100vh;
    width: 100%;
    }
    .carousel h5{
        color: blue;
        font-size: 24px;
        text-transform:uppercase;
    
    }
    .carousel p{
        background-color:crimson;
        padding: 5px;
    }

    .newssection h2 span{
        color: red!important;
        
        }
        .newssection img:hover{
            opacity:0.5;
            cursor:pointer;
            transform: scale(1.1);
            transition: .5s linear;
        }
        .newssection .card{
            transition:5s  linear;
        }
        .newssection .card:hover{
        box-shadow:0 0 10px 0px red;
        cursor:s-resize;
        transition : .7s linear;
        margin-bottom: 10px;
        }
        
        .newssection img{
            height: 200px;
        }
        .newssection .card p{
        text-align: right!important;
        font-size: 14px;
        
        }
        .newssection.row{
            max-width: 90%!important;
        }
        
      .body{

        margin: 0;
        padding: 0;
        font-family: sans-serif;
      }
.banner{
    width: 100%;
    height: 100vh;
    background: url(../images/21.jpg);
    background-size:cover;
    background-attachment: fixed;
}
.content{
    padding: 50px 100px;
     
}
.content h2{
margin: 0 0 20px;
padding: 0;
font-size: 30px;
}
.content p{
    font-size: 18px;
    
}
.sidebar-contact{
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 350px;
    height: auto;
    padding: 40px;
    background: #fff;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
box-sizing: border-box;
transition: 0.5s;
}
.sidebar-contact.actve{
    left: 0;
}
.sidebar-contact input,
   .sidebar-contact textarea{
    width: 100%;
    height: 36px;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.5);
    outline: none;
    background: red;
}
.sidebar-contact textarea{
    height: 60px;
    resize: none;
}
.sidebar-contact input[type="submit"]
{
    background: #00bcd4;
    color:#fff;
    cursor: pointer;
    border: none;
    font-size: 18px;
}

.sidebar-contact h2{
    margin: 0 0 20px;
    padding: 0;
}
.toggle{
    position: absolute;
    top: 0;
    right: -48px;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    background: #f00;
}
.toggle:before{
   content: 'f0e0 ·'; 
   font-family: fontAwesome;
   color: #fff;
   font-size: 18px;
}
.body{
background-image: linear-gradient (rgba(0,0,0.5),rgba(0,0,0.5)),url(../images/10.jpg);
background-size: cover;
background-position: center;
}
.booking-form-box{
    max-width: 350px;
    border: 1px solid #ced4da;
    margin: 10% auto 0;
}
.body{
    background-image: url(../images/20.jpg);
    background-size: cover;

}
#form{
    background-color: #000;
    height: 500px;
    width: 700px;
    margin: auto;
    padding: 20px;
    opacity: 0.7;
}
#form h3{
    border-bottom: 2px solid #3399ff;
    width: 210px;
    padding: 5px;
}

::placeholder{
    color: #fff;
}
#input #input-group{
    width: 300px;
        margin:5px;
        border-top:none;
        border-left:none;
        border-right:none;
        outline:none;  
        background: transparent;
        color: #fff;
}
#input2 #input-group{
    width: 195px;
    margin: 5px;
    border-top:none;
    border-left:none;
    border-right:none;
    outline:none;  
    background: transparent;
    color: #fff;
    }



